= simple_form_for @toot do |f|
  = f.input :body, as: :text
  = f.association :author

  .actions
    = f.button :submit, class: 'btn btn-primary'
    = link_to 'Cancel', :back, class: 'btn btn-default'
