.row
  .col-md-4
    .user-box
      .user
        .user-name= @user.name
        .user-handle= @user.handle
        .user-bio= @user.bio
      = link_to 'Edit', edit_user_path(@user)


  .col-md-8
    .toot-stream
      - @user.toots.order(created_at: :desc).each do |toot|
        = render 'toots/toot', toot: toot

