.row
  .col-md-3
    = render 'profile', user: @user

  .col-md-6
    .event-stream
      .event.new-toot
        = render 'toots/inline_form'

      - @user.events.each do |event|
        = render_event event

  .col-md-3
    .user-followers
      %span.component-header Followers
      - @user.followers.each do |follow|
        .follower
          = link_to follow.user.name, follow.user
          %small.text-muted= user_handle(follow.user)
